<app-home></app-home>


<table class="table table-striped">
<thead>
    <tr>
        <th>Sr.</th>
        <th>Name</th>
        <th>FatherName</th>
        <th>DOB</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Imran</td>
        <td>Imtiaz Sadiq</td>
        <td>Something Extra</td>
        <td>Active</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ABC</td>
        <td>XYZ</td>
        <td>Something Extra</td>
        <td>In Active</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Hello</td>
        <td>Son Of ABC</td>
        <td>Something Extra</td>
        <td>Active</td>
    </tr>
</tbody>
</table>